<!-- api/templates/documentation.html -->

<!DOCTYPE html>
<html>

<head>
    <title>School Service Documentation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css" />
</head>

<body>
    <div id="swagger-ui"></div>
    //unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js
    <script>
        const ui = SwaggerUIBundle({
            url: "{% url schema_url %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout"
        })
    </script>
</body>

</html>